html
{
    font-family: Helvetica;
}
.left-panel
{
    background-color: navy;
    color: white;
    height: 700px;
    width: 25%;
}
.right-panel-1
{
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
}
.right-panel-2
{
    background-color: steelblue;
    height: 300px;
    width: 75%;
}
.right-panel-2
{
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
}
.footer
{
    background-color: steelblue;
    text-align: center;
    padding: 20px;
}
h1
{
    letter-spacing: 5px;
}
form
{
    margin: 30px ;
}
form:hover
{
    background-color: deepskyblue;
}